Storage.BusinessLogic.WCF/Service References/ProductRedactionWcfService/ProductRedactionWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54222/ProductRedactionWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Storage.Model" />
  <xs:element name="Redaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="selectedProduct" nillable="true" type="q1:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedProductId" type="xs:int" />
        <xs:element minOccurs="0" name="shelfId" type="xs:int" />
        <xs:element minOccurs="0" name="traderId" type="xs:int" />
        <xs:element minOccurs="0" name="pdId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="ReloadProductsResult" nillable="true" type="q2:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadShelf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadShelfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="ReloadShelfResult" nillable="true" type="q3:ArrayOfShelf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadTrader">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadTraderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="ReloadTraderResult" nillable="true" type="q4:ArrayOfTrader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadProductCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadProductCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="ReloadProductCategoriesResult" nillable="true" type="q5:ArrayOfProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShelf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedProdictId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShelfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="GetShelfResult" nillable="true" type="q6:Shelf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>