Storage.BusinessLogic.WCF/Service References/ProductRedactionWcfService/ProductRedactionWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductRedactionWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54222/ProductRedactionWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54222/ProductRedactionWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54222/ProductRedactionWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Storage.Model" />
      <xsd:import schemaLocation="http://localhost:54222/ProductRedactionWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mita.DataAccess" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductRedactionWcfService_Redaction_InputMessage">
    <wsdl:part name="parameters" element="tns:Redaction" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_Redaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedactionResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_ReloadProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadProducts" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_ReloadProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_ReloadShelf_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadShelf" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_ReloadShelf_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadShelfResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_ReloadTrader_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadTrader" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_ReloadTrader_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadTraderResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_ReloadProductCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadProductCategories" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_ReloadProductCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadProductCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_GetShelf_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShelf" />
  </wsdl:message>
  <wsdl:message name="IProductRedactionWcfService_GetShelf_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShelfResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductRedactionWcfService">
    <wsdl:operation name="Redaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRedactionWcfService/Redaction" message="tns:IProductRedactionWcfService_Redaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRedactionWcfService/RedactionResponse" message="tns:IProductRedactionWcfService_Redaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRedactionWcfService/Delete" message="tns:IProductRedactionWcfService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRedactionWcfService/DeleteResponse" message="tns:IProductRedactionWcfService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRedactionWcfService/ReloadProducts" message="tns:IProductRedactionWcfService_ReloadProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRedactionWcfService/ReloadProductsResponse" message="tns:IProductRedactionWcfService_ReloadProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadShelf">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRedactionWcfService/ReloadShelf" message="tns:IProductRedactionWcfService_ReloadShelf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRedactionWcfService/ReloadShelfResponse" message="tns:IProductRedactionWcfService_ReloadShelf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadTrader">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRedactionWcfService/ReloadTrader" message="tns:IProductRedactionWcfService_ReloadTrader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRedactionWcfService/ReloadTraderResponse" message="tns:IProductRedactionWcfService_ReloadTrader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadProductCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRedactionWcfService/ReloadProductCategories" message="tns:IProductRedactionWcfService_ReloadProductCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRedactionWcfService/ReloadProductCategoriesResponse" message="tns:IProductRedactionWcfService_ReloadProductCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShelf">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRedactionWcfService/GetShelf" message="tns:IProductRedactionWcfService_GetShelf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRedactionWcfService/GetShelfResponse" message="tns:IProductRedactionWcfService_GetShelf_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductRedactionWcfService" type="tns:IProductRedactionWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Redaction">
      <soap:operation soapAction="http://tempuri.org/IProductRedactionWcfService/Redaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IProductRedactionWcfService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadProducts">
      <soap:operation soapAction="http://tempuri.org/IProductRedactionWcfService/ReloadProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadShelf">
      <soap:operation soapAction="http://tempuri.org/IProductRedactionWcfService/ReloadShelf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadTrader">
      <soap:operation soapAction="http://tempuri.org/IProductRedactionWcfService/ReloadTrader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadProductCategories">
      <soap:operation soapAction="http://tempuri.org/IProductRedactionWcfService/ReloadProductCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShelf">
      <soap:operation soapAction="http://tempuri.org/IProductRedactionWcfService/GetShelf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductRedactionWcfService">
    <wsdl:port name="BasicHttpBinding_IProductRedactionWcfService" binding="tns:BasicHttpBinding_IProductRedactionWcfService">
      <soap:address location="http://localhost:54222/ProductRedactionWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>