Storage.BusinessLogic.WCF/Service References/ProductMainWcfService/ProductMainWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductMainWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54222/ProductMainWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54222/ProductMainWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54222/ProductMainWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Storage.Model" />
      <xsd:import schemaLocation="http://localhost:54222/ProductMainWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mita.DataAccess" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductMainWcfService_SearchProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchProducts" />
  </wsdl:message>
  <wsdl:message name="IProductMainWcfService_SearchProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductMainWcfService_ShowAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductMainWcfService_ShowAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAllProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductMainWcfService">
    <wsdl:operation name="SearchProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductMainWcfService/SearchProducts" message="tns:IProductMainWcfService_SearchProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductMainWcfService/SearchProductsResponse" message="tns:IProductMainWcfService_SearchProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductMainWcfService/ShowAllProducts" message="tns:IProductMainWcfService_ShowAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductMainWcfService/ShowAllProductsResponse" message="tns:IProductMainWcfService_ShowAllProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductMainWcfService" type="tns:IProductMainWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchProducts">
      <soap:operation soapAction="http://tempuri.org/IProductMainWcfService/SearchProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAllProducts">
      <soap:operation soapAction="http://tempuri.org/IProductMainWcfService/ShowAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductMainWcfService">
    <wsdl:port name="BasicHttpBinding_IProductMainWcfService" binding="tns:BasicHttpBinding_IProductMainWcfService">
      <soap:address location="http://localhost:54222/ProductMainWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>