Storage.BusinessLogic.WCF/Service References/ProductCreateWcfService/ProductCreateWcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Storage.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Storage.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54222/ProductCreateWcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Mita.DataAccess" />
  <xs:complexType name="Product">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q1:TitledDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Count" type="xs:double" />
          <xs:element minOccurs="0" name="CountDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Input" type="xs:double" />
          <xs:element minOccurs="0" name="InputDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="tns:ProductCategory" />
          <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Shelf" nillable="true" type="tns:Shelf" />
          <xs:element minOccurs="0" name="ShelfId" type="xs:int" />
          <xs:element minOccurs="0" name="Sold" type="xs:double" />
          <xs:element minOccurs="0" name="SoldDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Trader" nillable="true" type="tns:Trader" />
          <xs:element minOccurs="0" name="TraderId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ProductCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q2:NamedDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductCategoryName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductCategory" nillable="true" type="tns:ProductCategory" />
  <xs:complexType name="Shelf">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q3:NamedDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Shelf" nillable="true" type="tns:Shelf" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Trader">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Mita.DataAccess" base="q4:FullNamedDomainObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Trader" nillable="true" type="tns:Trader" />
</xs:schema>