Storage.BusinessLogic.WCF/Service References/ProductCreateWcfService/ProductCreateWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54222/ProductCreateWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Storage.Model" />
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="product" nillable="true" type="q1:Product" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="shelf" nillable="true" type="q2:Shelf" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="productCategory" nillable="true" type="q3:ProductCategory" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Storage.Model" minOccurs="0" name="trader" nillable="true" type="q4:Trader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>